body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

header {
  width: 100%;
  position: fixed;
  align-items: center;
  height: 69px;
  border-bottom: 1px solid seashell;
  z-index: 1;
  background-color: black;
}

nav {
  flex-grow: 1;
  text-align: right;
  padding-right: 10px;
}

nav span {
  display: inline-block;
  padding: 15px 10px;
}

nav span a {
  color: seashell;
}

.logo {
  padding-left: 10px;
  height: 50px;
}

.main {
  margin: auto;
  padding-top: 70px;
  width: 1100px;
  opacity: 0.9;
}

#mission {
  background-image: url('../images/img-mission-background.jpg');
  height: 700px;
  padding-top: 60px;
}

#mission .mission-message {
  width: 1200px;
  margin: auto;
  background-color: black;
}

.mission-message h2 {
  margin-top: 10px;
}

.mission-message h4 {
  margin-bottom: 10px;
}

.online-store {
  width: 1000px;
  height: 700px;
  margin: auto;
  padding-top: 70px;
}

.tea img {
  height: 200px;
  width: 300px;
  margin: 10px;
}

.tea span {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

#locations {
  height: 500px;
  background-image: url('../images/img-locations-background.jpg');
}

#locations h2 {
  padding-top: 50px;
}

#locations .location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  margin: 15px 20px;
  background-color: black;
  opacity: 1;
}
